#dataGrid {
	position: absolute;
    top: 35px;
    bottom: 0px;
    width: 100%;
    height: auto;
}

td[role="columnheader"] {
	text-align: center !important; 
}

td[colid="rownumber"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="form_id"] {
	text-align: center !important; 
	min-width: 180px  !important; 
}

td[colid="complete_time"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_id2"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_name"] {
	min-width: 150px  !important; 
}

td[colid="item_name2"] {
	min-width: 150px  !important; 
}

td[colid="item_dimension"] {
	text-align: center !important; 
	min-width: 60px  !important; 
}

td[colid="item_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="actual"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="item_count2"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="inputed_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="diff"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="item_dimension2"] {
	text-align: center !important; 
	min-width: 100px  !important; 
}

