.dgrid-column-set-0 {
	width: 320px;
}

.dgrid-cell {
	width: 90px;
}

.field-formId {
	width: 150px;
}

.field-returnBranch, .field-requester, .field-provider {
	width: 120px;
}

.field-returner, .field-inputer {
	width: 100px;
}

.field-maxPayItem,.field-formNote,.field-requester {
	width: 150px;
}

.field-scan {
	width: 60px;
}

