#detailDataGrid {
	position: absolute;
	right: 0;
	top: 62px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#scanGrid {
	position: absolute;
	right: 0;
	top: 92px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
	width: 80px;
}

.field-rownumber, .field-itemId,.field-itemDimension{
	text-align: center !important;
}

.field-itemCount, .field-receiveCount,.field-differentCount,
.field-receivedCount,.field-returnedCount{
	text-align: right ;
	width: 80px;
}

.field-rownumber {
	width: 60px;
}

.field-itemId {
	width: 60px;
}

.field-itemName {
	width: 150px;
}

.field-itemDimension {
	width: 40px;
}

.field-none {
	width: 250px;
}