#dataGrid {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0px;
	width: 100%;
	height: auto;
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
}

.field-rownumber, .field-itemId, .field-itemDimension, .field-itemStatus
	{
	text-align: center;
}

.field-rownumber {
	width: 60px;
}

.field-itemId, .field-itemCategory, .field-itemSpecification {
	width: 80px;
}

.field-itemName {
	width: 180px;
}

.field-itemDimension {
	width: 60px;
}

.field-itemUnitPrice, .field-receivePrice, .field-itemCount, .field-payAmt ,.field-providerId{
	width: 70px;
	text-align: right;
}

.field-provider {
	width: 180px;
}