.label
{	FONT-FAMILY: ו, verdana, san-serif;
	FONT-WEIGHT: bold;
	font-size: 14pt;
	COLOR: #FFFFFF;
	Margin: .2em,0pt,2pt,2pt;
	line-height: 1em;
	text-decoration:none;
}
.a1
{	color: #ffffff;
	FONT-WEIGHT: bold;
	font-size: 11pt;
}

