#dataGrid {
	position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
    height: auto;
}

td[role="columnheader"] {
	text-align: center !important; 
}

.gridxSortNode {
	text-align: center !important;
}

td[colid="rownumber"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="form_id"] {
	text-align: center !important; 
	min-width: 160px  !important; 
}

td[colid="input_time"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="audit_time"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="storage_name"] {
	min-width: 120px  !important; 
}

td[colid="storage"] {
	min-width: 150px  !important; 
}

td[colid="input_department"] {
	min-width: 120px  !important; 
}

td[colid="item_name"] {
	min-width: 100px  !important; 
}

td[colid="branch_name"] {
	min-width: 100px  !important; 
}

td[colid="itemcountin"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="itemcountinmoney"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="itemcountout"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="itemcountoutmoney"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="putinstorage"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="distribution"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="allocateitemin"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="orgicountmoney"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="allocateitemout"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="resultcountmoney"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="antiauditin"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="antiauditout"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="orgiCount"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="preject"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="preject2"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="dreject"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="rawloss"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="dishloss"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="resultcount"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="checkstoragein"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="checkstorageout"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="theoryDeduct"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="antiauditin"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="distributionOut"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="rejectinstorage"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="crossstorageout"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="scll"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="sccl"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="sctl"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="fgll"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="publicstorageout"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="publicstoragein"] {
	text-align: right !important; 
	min-width: 120px  !important; 
}

td[colid="item_dimension"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

