.editGrid {
	position: absolute;
    top: 92px;
    bottom: 25px;
    width: 100%;
    height: auto;
}

.auditGrid {
	position: absolute;
    top: 92px;
    bottom: 25px;
    width: 100%;
    height: auto;
}

#commandTable {
    position: absolute;
    bottom: 0;
    width: 100%;
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
}

.field-rownumber, .field-itemId, .field-itemDimension,
	.field-expiredTime {
	text-align: center;
}

.field-rownumber {
	width: 60px;
}

.field-itemId {
	width: 80px;
}

.field-itemName {
	width: 150px;
}

.field-itemCategory {
	width: 110px;
}

.field-itemDimension {
	width: 60px;
}

.field-itemSpecification {
	width: 90px;
}

.field-shippingCount, .field-deliveryCount, .field-receiveCount,
	.field-itemUnitPrice {
	width: 70px;
}

.field-returnCount {
	width: 70px;
}

.field-returnPayAmt {
	width: 70px;
}

.field-returnReason {
	width: 100px;
}

.field-none {
	/* 	width: 60px; */
	
}

.grid-number {
	text-align: right;
}


.field-orderCount {
	width: 70px;
}