#dataGrid {
	position: absolute;
	width: 100%;
	height: 88%;
}

td[role="columnheader"] {
	text-align: center !important; 
}

td[colid="rownumber"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="form_id"] {
	text-align: center !important; 
	min-width: 160px  !important; 
}


td[colid="item_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}


td[colid="in_branch"] {
	text-align: center !important; 
	min-width: 120px  !important; 
}

td[colid="in_storage"] {
	text-align: center !important; 
	min-width: 150px  !important; 
}

td[colid="out_branch"] {
	text-align: center !important; 
	min-width: 120px  !important; 
}

td[colid="out_storage"] {
	text-align: center !important; 
	min-width: 150px  !important; 
}

td[colid="category_name"] {
	text-align: center !important; 
	min-width: 100px  !important; 
}

td[colid="item_name"] {
	min-width: 100px  !important; 
}

td[colid="item_category"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_dimension"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="item_specification"] {
	text-align: center !important; 
	min-width: 100px  !important; 
}

td[colid="inventory"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="order_count"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="different_count"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="apply_count"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="actual_count"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="pay_amt"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="receive_count"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="status"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

