<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="mapper.businessquery.FoodCategoryMapper">  
<resultMap id="foodCategoryResultMap" type="pojo.businessquery.FoodCategory">
		<id property="foodCount" column="nQty" />
		<result property="subCategoryId" column="SUB_CATEGORY_ID" />
		<result property="subCategoryName" column="SUB_CATEGORY_NAME" />
		<result property="categoryName" column="CATEGORY_NAME" />
</resultMap>


<select id="getAmt" resultType="BigDecimal">
	SELECT sum(npayamt)
	FROM ${com}.d_t_food_bill
	WHERE cbranch_c like #{shopC}
	AND dbusiness &gt;= #{startDate}
	AND dbusiness &lt;= #{endDate}
</select>

<select id="listCategory" resultMap="foodCategoryResultMap">
	SELECT
		SUM(b.nQty)     nQty,
		c.CATEGORY_ID   SUB_CATEGORY_ID,
		c.CATEGORY_NAME SUB_CATEGORY_NAME,
		d.CATEGORY_NAME CATEGORY_NAME
	FROM
		${com}.d_t_food_bill a
	LEFT JOIN
		${com}.d_t_food_bills b
	ON
		a.cBill_C = b.cBill_C
	LEFT JOIN
		${com}.d_t2_item_category c
	ON
		b.cLitCls_C = c.CATEGORY_ID
	LEFT JOIN
		${com}.d_t2_item_category d
	ON
		c.PARENT_ID = d.CATEGORY_ID
	WHERE
		c.ITEM_TYPE = 'PRODUCT'
	AND a.cbranch_c like #{shopC}
	AND a.DBUSINESS &gt;= #{startTime}
	AND a.DBUSINESS &lt;= #{endTime}
	GROUP BY
		c.CATEGORY_ID,
		c.CATEGORY_NAME,
		d.CATEGORY_NAME
	ORDER BY
		c.CATEGORY_ID
</select>

<select id="listRawCategory" resultMap="foodCategoryResultMap">
	SELECT
		c.CATEGORY_ID SUB_CATEGORY_ID,
		c.CATEGORY_NAME SUB_CATEGORY_NAME,
		cp.CATEGORY_NAME AS CATEGORY_NAME
	FROM
		${com}.d_t2_item_category c,
		${com}.d_t2_item_category cp
	WHERE
		trim(c.PARENT_ID) = trim(cp.CATEGORY_ID)
	AND c.PARENT_ID = '02'
	GROUP BY
		c.CATEGORY_ID,
		c.CATEGORY_NAME ,
		cp.CATEGORY_NAME
	ORDER BY
		c.CATEGORY_ID

</select>
</mapper>