#treeWrapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 30%;
	height: auto;
}

#cateTree {
	width: 100%;
	height: 100%;
}

#editArea {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 70%;
	height: auto;
	border-left: 1px solid blue;
}
