#dataGrid {
	position: absolute;
	right: 0;
	top: 122px;
	bottom: 0px;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#commandTable {
	position: absolute;
	bottom: 0;
	width: 100%;
}

th[role="columnheader"] {
	text-align: center;
}

th.edit-note {
	color: red;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
}

.field-rownumber, .field-categoryId, .field-itemId, .field-supplierId,
	.field-scycle, .field-priority {
	text-align: center;
}

.field-rownumber {
	width: 40px;
}

.field-itemId, .field-categoryId, .field-supplierId {
	width: 70px;
}

.field-itemName {
	width: 120px;
}

.field-queryCode {
	width: 90px;
}

.field-itemDimension {
	width: 50px;
}

.field-scycle {
	width: 80px;
}

.field-priority {
	width: 80px;
}

.grid-number {
	text-align: right;
}