#dataGrid {
	position: absolute;
    top: 35px;
    bottom: 0px;
    width: 100%;
    height: auto;
}

td[role="columnheader"] {
	text-align: center !important; 
}

td[colid="rownumber"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="item_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="production_cycle"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="produce_count"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}


td[colid="category_id"] {
	text-align: center !important; 
	min-width: 100px  !important; 
}

td[colid="category_name"] {
	min-width: 100px  !important; 
}

td[colid="item_name"] {
	min-width: 100px  !important; 
}

td[colid="item_category"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_dimension"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="item_specification"] {
	min-width: 100px  !important; 
}

