.dgrid-column-set-0 {
	width: 300px;
}

.dgrid-cell {
	width: 80px;
}

.field-operate,.field-item_dimension,.field-item_dimension2{
	width: 60px;
}

.field-operate2{
	width: 80px;
}

.field-formId,.field-item_specification{
	width: 120px;
}

.field-lossBranch ,.field-storage ,.field-item_name{
	width: 140px;
}

.field-maxPayItem,.field-reason {
	width: 150px;
}

.field-null {
	width: 300px;
}

.field-item_name2{
	width: 165px;
}