#dataGrid {
	position: absolute;
	right: 0;
	top: 120px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

.dgrid-cell {
	width: 80px;
}

.dgrid-column-set-0 {
	width: 280px;
}

.field-templateId,.field-buyerName,.field-templateName,.field-formNote,.field-formId {
	width: 120px;
}

.field-maxPayItem{
	width: 160px;
}

.field-scan,.field-operate,.field-none {
	width: 60px;
}