#dataGrid {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0px;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}


th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	width: 80px;
}

.field-operate{
	width: 40px;
}

.field-tagId {
	width: 80px;
}

.field-tagName {
	width: 100px;
}

.field-tagNote {
	width: 250px;
}

.field-none{
	width: 200px;
}
