<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- Initialization for data source -->
	<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@10.1.1.105:1521:orcle" />
		<property name="username" value="jono" />
		<property name="password" value="jono" />
	</bean>

<!-- 	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
<!-- 		<property name="dataSource" ref="datasource"></property> -->
<!-- 	</bean> -->

	<bean id="monthSettleJDBCTemplate" class="webtest.hq.fmanage.dao.MonthSettleJDBCTemplate">
		<property name="dataSource" ref="datasource" />
	</bean>

	<bean id="tester" class="webtest.util.Tester" scope="singleton">
	</bean>
	
	<bean id="monthSettleAccount" class="webtest.hq.fmanage.MonthSettleAccount" >
	</bean>
</beans>