#categoryTree {
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	bottom: 0;
	width: 20%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#dataGrid {
	position: absolute;
	right: 0;
	top: 30px;
	bottom: 0;
	width: 80%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

.dgrid-cell {
	width: 65px;
}

.dgrid-column-set-0 {
	width: 300px;
}

.field-itemName {
	width: 140px;
}

.field-shelfName {
	width: 120px;
}

.field-mainSuppiler {
	width: 230px;
}

.field-queryCode,.field-itemDimension,.field-categoryId {
	width: 60px;
}

.field-itemSpecification,.field-categoryName,.field-queryCode {
	width: 90px;
}