.label
{	FONT-FAMILY: ו, verdana, san-serif;
	FONT-WEIGHT: bold;
	font-size: 14px;
	COLOR: #FFFFFF;
	margin-bottom:2px;
	margin-top:1px;
	text-decoration:none;
}

.label1
{	FONT-FAMILY: ו, verdana, san-serif;
	font-size: 10pt;
	COLOR: #FFFFFF;
	line-height: 1em;
	text-decoration:none;
}

.fillcolor
{	vertical-align: middle;
	padding: 0pt;
	background-color:#1E5B88;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#1E5B88', EndColorStr='#3D94D3');
}

.fillcolor1
{	vertical-align: middle;
	padding: 0pt;
	background-color:#1E5B88;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#1E5B88', EndColorStr='#ffffff');
}

.navTocColor
{
	background-color:#1E5B88;
}

.tableContent
{
	border: 1px solid #FFFFFF;
	padding: 0px;
	background-color: #D1E9E6;
}
	
.a1
{	color: #ffffff;
	text-decoration:none;
}

.p1
{	font-family: ו, verdana, san-serif;
	font-size: 90%;
	COLOR: #ffffff;
	Margin: 4pt,0pt,0pt,0pt;
	line-height: .8em;
}

.main 
{
	font-size: 12px;
	color: #FFFFFF;
	vertical-align: middle;
}

.holderTable
{
	padding-left:1px;
	padding-right:1px;
}

a 
{
	font-size: 14px;
	color: #000066;
}
a:link 
{
	text-decoration: none;
}
a:visited 
{
	text-decoration: none;
} 
a:hover 
{
	text-decoration: underline;
	color: #FF6600;
}
a:active 
{
	text-decoration: none;
	color: #3399FF;
}

.hiderScroll
{
	width:100%;
	margin-bottom:2px;
	margin-top:1px;
	overflow:auto;
}
