.dgrid-column-set-0 {
	width: 320px;
}

.dgrid-cell {
	width: 80px;
}

.field-operate {
	width: 100px;
}

.field-itemId,.field-itemDimension{
	width: 60px;
}

.field-formId,.field-checkBatchId,.field-formNote,.field-maxPayItem,.field-itemName {
	width: 120px;
}

.field-none {
	width: 350px;
}