#dataGrid {
	position: absolute;
	right: 0;
	top: 120px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

.outerGrid {
	position: absolute;
    top: 122px;
    bottom: 25px;
    width: 100%;
    height: auto;
}

#commandTable {
    position: absolute;
    bottom: 0;
    width: 100%;
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
}

.dgrid-column-set-0 {
	width: 320px;
}

.field-rownumber, .field-formId, .field-formTime, .field-formMaker,
	.field-receiveTime, .field-formStatus, .field-scan, .field-operate {
	text-align: center;
}

.field-rownumber {
	width: 40px;
}

.field-formId {
	width: 150px;
}

.field-buyerName {
	width: 150px;
}

.field-formTime, .field-formMaker, .field-receiveTime {
	width: 80px;
}

.field-formNote {
	width: 80px;
}

.field-maxPayItem {
	width: 200px;
}

.field-allPayAmt {
	width: 80px;
	text-align: right;
}

.field-formStatus {
	width: 80px;
}

.field-scan {
	width: 60px;
}

.field-operate {
	width: 100px;
}

.field-none {
}