.dgrid-column-set-0 {
	width: 320px;
}

.dgrid-cell {
	width:70px;
}

.field-scan{
	width:60px;
}

.field-formId,.field-checkBatchId,.field-maxPayItem{
	width:100px;
}

/* edit */
.field-itemName{
	width:150px;
}

.field-itemSpecification{
	width:100px;
}

.field-itemDimension{
	width:60px;
}
