#dataGrid {
	position: absolute;
	right: 0;
	top: 122px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

th[role="columnheader"] {
	text-align: center;
}

th.edit-note {
	color: red;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
	width: 70px;
}

.dgrid-column-set-0 {
	width: 320px;
}

.field-rownumber, .field-formId, .field-formTime, .field-formMaker,
	.field-receiveTime, .field-formStatus, .field-scan, .field-operate {
	text-align: center;
}

.field-rownumber {
	width: 40px;
}

.field-itemName,.field-differentNote  {
	width: 180px;
}

.field-itemCategory {
	width: 120px;
}

.field-itemDimension {
	width: 60px;
}

.field-differentReason {
	width: 110px;
}

.grid-number {
	text-align: right;
}