#dataGrid {
	position: absolute;
	right: 0;
	top: 36px;
	bottom: 0;
	width: 100%;
	height: auto; 
}

.dgrid-cell {
	width: 120px;
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-column-set-0 {
	width: 360px;
}

.field-item_id {
	width: 70px;
}

.field-item_name {
	width: 120px;
}
