.dgrid-column-set-0 {
	width: 280px;
}

.dgrid-cell {
	width: 90px;
}

.field-formId {
	width: 140px;
}

.field-requester, .field-provider {
	width: 120px;
}

.field-inputer {
	width: 100px;
}

.field-maxPayItem,.field-formNote{
	width: 150px;
}

