#dataGrid {
	position: absolute;
	right: 0;
	top: 120px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
	width: 70px;
}

.dgrid-column-set-0 {
	width: 220px;
}



.field-rownumber,.field-formId,.field-formTime,.field-formMaker,.field-receiveTime,.field-formStatus,.field-scan,.field-operate
	{
	text-align: center;
}

.field-rownumber {
	width: 40px;
}

.field-itemCategory {
	width: 120px;
}


.field-scan {
	width: 60px;
}


.field-itemDimension {
	width: 60px;
}

.field-none {
	/* 	width: 60px; */
	
}