#dataGrid {
	position: absolute;
    top: 35px;
    bottom: 0px;
    width: 100%;
    height: auto;
}

td[role="columnheader"] {
	text-align: center !important; 
}

td[colid="rownumber"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="form_id"] {
	text-align: center !important; 
	min-width: 160px  !important; 
}

td[colid="form_ref_id"] {
	text-align: center !important; 
	min-width: 160px  !important; 
}

td[colid="provider_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="provider"] {
	min-width: 100px  !important; 
}


td[colid="requester"] {
	min-width: 120px  !important; 
}

td[colid="returner"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="provider"] {
	min-width: 80px  !important; 
}

td[colid="in_storage"] {
	min-width: 150px  !important; 
}

td[colid="out_storage"] {
	min-width: 150px  !important; 
}

td[colid="requester"] {
	min-width: 120px  !important; 
}

td[colid="item_name"] {
	min-width: 100px  !important; 
}

td[colid="item_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="category_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="category_name"] {
	min-width: 120px  !important; 
}

td[colid="return_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="return_pay_amt"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="status"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

