#dataGrid {
	position: absolute;
    top: 35px;
    bottom: 0px;
    width: 100%;
    height: auto;
}

td[role="columnheader"] {
	text-align: center !important; 
}

td[colid="rownumber"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="form_id"] {
	text-align: center !important; 
	min-width: 160px  !important; 
}

td[colid="provider"] {
	min-width: 160px  !important; 
}

td[colid="form_time"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="requester"] {
	text-align: center !important; 
	min-width: 100px  !important; 
}

td[colid="audit_time"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="delivery_type"] {
	text-align: center !important; 
	min-width: 70px  !important; 
}

td[colid="receiver_id"] {
	text-align: center !important; 
	min-width: 100px  !important; 
}

td[colid="receiver"] {
	min-width: 130px  !important; 
}

td[colid="storage_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="storage"] {
	min-width: 150px  !important; 
}

td[colid="input_department_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="input_department"] {
	min-width: 120px  !important; 
}

td[colid="category_name"] {
	min-width: 120px  !important; 
}

td[colid="item_name"] {
	min-width: 100px  !important; 
}

td[colid="item_category"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="check_branch"] {
	text-align: center !important; 
	min-width: 100px  !important; 
}

td[colid="check_storage"] {
	text-align: center !important; 
	min-width: 115px  !important; 
}

td[colid="item_dimension"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="item_specification"] {
	min-width: 100px  !important; 
}

td[colid="item_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="order_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}


td[colid="item_unit_price"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="pay_amt"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="receive_price"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="receive_amt"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="different_amt"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="receive_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

