#dataGrid {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0px;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

th[role="columnheader"] {
	text-align: center;
}


.field-branchId,.field-itemId ,.field-priority {
	width: 60px;
}

.field-branchName,.field-none{
	width: 100px;
}

.field-itemName {
	width: 150px;
}

