<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="mapper.businessquery.FoodMapper"> 

<resultMap id="foodResultMap" type="pojo.businessquery.FoodBill">
	<id property="foodC" column="cFood_C"/>
	<result property="foodN" column="cFood_N"/> 
	<result property="litClsC" column="cLitCls_C"/> 
	<result property="litClsN" column="cLitCls_N"/> 
	<result property="unit" column="sUnit"/> 
	<result property="price" column="nPrc"/> 
	<result property="quantity" column="nQty"/> 
	<result property="amt" column="nAmt"/> 
	<result property="disAmt" column="nDisAmt"/> 
	<result property="suitFlag" column="eSuitFlag"/> 
	<result property="suitBill" column="cSuitBill"/> 
	<result property="suitName" column="cSuitName"/> 
	<result property="retSendFlag" column="eRetSendFlag"/> 
	<result property="retSendRemark" column="sRetSendRemark"/> 
	<result property="presentBackMan" column="cPresentBackMan"/> 
</resultMap>

<select id="listFood" resultMap="foodResultMap">
	select cFood_C, cFood_N, cLitCls_C, cLitCls_N, sUnit, nPrc, nQty, nAmt,
			nDisAmt, eSuitFlag, cSuitBill, cSuitName, eRetSendFlag, sRetSendRemark, cPresentBackMan
	from ${com}.d_t_food_bills
	where cBill_C = #{billC}
</select>

<select id="getSum" resultType="int">
	select
		count(*)
	from
		${com}.D_T_FOOD_BILL b
	where
		1 = 1
<if test="startDate != null">
	and	b.DTBILLTIME &gt;= #{startDate}
</if>
<if test="endDate != null">
	and	b.DTBILLTIME &lt;= #{endDate}
</if>
</select>

<select id="ctrQuery" resultType="map">
					select 
						sun.CLITCLS_N ,
						sun.CFOOD_C ,
						sun.CFOOD_N ,
						sun.x itemCount,
						case when sun.cfood_c is not null then ${thesum} end tableCount,
						case when sun.cfood_c is not null then round(sun.x/${thesum},4)*100 end ctr,
                        case when sun.cfood_c is null 
                             then round(sun.x/(
                                  select sum(case when cfood_c is not null then sun.x else 0 end) from sun
                                  ),4)*100
                             end   gdp,
                        p.item_price salePrice,
                        money.stockPrice,
                        case when p.item_price is null then null
                        	 when p.item_price = 0 then null
                        	 else round((p.item_price-money.stockPrice)/p.item_price,4)
                       	end stockGdp,
                        money.benchPrice,
                        case when p.item_price is null then null
                        	 when p.item_price = 0 then null
							 else round((p.item_price-money.benchPrice)/p.item_price,4) 
						end benchGdp
					from 
						(select 
							a.clitcls_c clitcls_c,
							a.CLITCLS_N CLITCLS_N,
							trim(a.CFOOD_C) CFOOD_C,
							c.item_name CFOOD_N,
							sum(a.NQTY) x 
						from 
							${com}.D_T_FOOD_BILLS A 
						inner join 
							${com}.d_t_food_bill b 
						on 
							a.CBILL_C = b.CBILL_C
						inner join
							${com}.D_T2_ITEM_META c
						on
							a.cfood_c = c.item_id
						where 
							b.DTBILLTIME &gt;= #{startDate}
						and
							b.DTBILLTIME &lt;= #{endDate}
						and 
							a.clitcls_c not in ('0501','3036','3033','4041')
		                and
		                	c.item_name not like '%测试%'
		                and
		                	a.NQTY != 0
						group by a.clitcls_c,trim(a.CFOOD_C) with rollup)sun
					left join
						(
							select 
								t.THERAPY_ID ,
								sum(round(t.ITEM_GROSS_COUNT*p.item_price,4)) stockPrice,
								sum(round(t.ITEM_GROSS_COUNT*p2.item_price,4)) benchPrice
							from 
								${com}.D_T2_ITEM_META m 
							left join 
								${com}.d_t2_therapy t
							on m.ITEM_ID = t.THERAPY_ID
							left join 
								${com}.D_T2_ITEM_PRICE p
							on t.ITEM_ID = p.ITEM_ID
							and p.IS_CURRENT = 1
							and p.PRICE_TYPE = 'BENCHMARK'
							left join 
								${com}.D_T2_ITEM_PRICE p2
							on t.ITEM_ID = p2.ITEM_ID
							and p2.IS_CURRENT = 1
							and p2.PRICE_TYPE = 'PURCHASE'
							where m.ITEM_TYPE = 'PRODUCT'
							group by t.THERAPY_ID
						)money
					on sun.CFOOD_C = money.THERAPY_ID
					left join
						${com}.D_T2_ITEM_PRICE p
					on sun.CFOOD_C = p.item_id
					where p.price_type = 'SALE'
					and	sun.x &gt; 0 
					order by 
						sun.clitcls_c desc,sun.CLITCLS_N desc
</select>
</mapper>