#shelfTree {
	position: absolute;
	left: 0;
	top: 32px;
	bottom: 0px;
	width: 20%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#dataGrid {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0px;
	width: 80%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#commandTable {
	position: absolute;
	bottom: 0;
	width: 100%;
}

th[role="columnheader"] {
	text-align: center;
}

th.edit-note {
	color: red;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
}

.field-rownumber, .field-categoryId, .field-itemId, .field-itemDimension,
	.field-supplierId, .field-scycle, .field-priority {
	text-align: center;
}

.field-rownumber {
	width: 50px;
}

.field-itemId, .field-categoryId {
	width: 70px;
}

.field-itemName {
	width: 150px;
}

.field-categoryName {
	width: 120px;
}

.field-queryCode ,.field-none{
	width: 120px;
}

.field-itemDimension {
	width: 50px;
}

.field-priority {
	width: 50px;
}

.grid-number {
	text-align: right;
}