#dataGrid {
	position: absolute;
    top: 62px;
    bottom: 0px;
    width: 100%;
    height: auto;
}

td[role="columnheader"] {
	text-align: center !important; 
}

.gridxSortNode {
	text-align: center !important;
}

td[colid="rownumber"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="form_id"] {
	text-align: center !important; 
	min-width: 160px  !important; 
}

td[colid="form_time"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="confirm_time"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_id"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}


td[colid="in_branch"] {
	min-width: 120px  !important; 
}

td[colid="in_storage"] {
	min-width: 120px  !important; 
}

td[colid="out_branch"] {
	min-width: 120px  !important; 
}

td[colid="out_storage"] {
	min-width: 120px  !important; 
}

td[colid="category_name"] {
	min-width: 100px  !important; 
}

td[colid="item_name"] {
	min-width: 100px  !important; 
}

td[colid="item_category"] {
	text-align: center !important; 
	min-width: 80px  !important; 
}

td[colid="item_dimension"] {
	text-align: center !important; 
	min-width: 50px  !important; 
	max-width: 50px  !important; 
}

td[colid="item_specification"] {
	min-width: 100px  !important; 
}

td[colid="inventory"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="order_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="different_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="apply_count"] {
	text-align: right !important; 
	min-width: 110px  !important; 
}

td[colid="actual_count"] {
	text-align: right !important; 
	min-width: 110px  !important; 
}

td[colid="unit_price"] {
	text-align: right !important; 
	min-width: 100px  !important; 
}

td[colid="pay_amt"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="receive_count"] {
	text-align: right !important; 
	min-width: 80px  !important; 
}

td[colid="status"] {
	min-width: 80px  !important; 
}

