<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="mapper.businessquery.PeoplePayMapper">  

<select id="query" resultType="map">
	SELECT
		*
		FROM
		(
			SELECT
				b.cBranch_C cBranch_C,
				concat('[',cBranch_C,']',b.cBranch_N) cBranch_N,
				b.cSettleMan cSettleMan,
				concat('pay_',p.cPay_C) cPay_C,
				p.cPay_C readPayCode,
				p.cPay_N cPay_N,
				SUM(p.nPayAmt) nPayAmt
			FROM
				${com}.d_t_food_bill b
			LEFT JOIN
				${com}.d_t_bill_pay p
			ON
				b.cBill_C = p.cBill_C
			WHERE
				${query}
			AND (DBUSINESS &gt;= #{startDate} OR  #{startDate} IS NULL)
			AND (DBUSINESS &lt;= #{endDate} OR  #{endDate} IS NULL)
			AND p.CPAY_C IS NOT NULL
			GROUP BY
				b.cBranch_C ,
				b.cBranch_N ,
				b.cSettleMan,
				p.cPay_C,
				p.cPay_N
		UNION ALL
			SELECT
				b.cBranch_C cBranch_C,
				concat('[',cBranch_C,']',b.cBranch_N) cBranch_N,
				b.cSettleMan cSettleMan,
				'pay_sum'      cPay_C,
				'' readPayCode,
				'合计'           cPay_N ,
				SUM(p.nPayAmt) nPayAmt
			FROM
				${com}.d_t_food_bill b
			LEFT JOIN
				${com}.d_t_bill_pay p
			ON
				b.cBill_C = p.cBill_C
			WHERE
				${query}
			AND (DBUSINESS &gt;= #{startDate} OR  #{startDate} IS NULL)
			AND (DBUSINESS &lt;= #{endDate} OR  #{endDate} IS NULL)
			AND p.CPAY_C IS NOT NULL
			GROUP BY
				b.cBranch_C ,
				b.cBranch_N ,
				b.CSETTLEMAN
		) a
	ORDER BY
		cBranch_C,
		CSETTLEMAN,
		CPAY_C
</select>

<select id="queryColumns" resultType="map">
	SELECT
		concat('pay_',p.cPay_C) cPay_C,
		p.cPay_N cPay_N
	FROM
		${com}.d_t_food_bill b
	LEFT JOIN
		${com}.d_t_bill_pay p
	ON
		b.cBill_C = p.cBill_C
	WHERE
		${query}
	AND (DBUSINESS &gt;= #{startDate} OR  #{startDate} IS NULL)
	AND (DBUSINESS &lt;= #{endDate} OR  #{endDate} IS NULL)
	AND p.CPAY_C IS NOT NULL
	GROUP BY
		p.cPay_C,
		p.cPay_N
	ORDER BY
		p.CPAY_C
</select>
</mapper>