#dataGrid {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0px;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

th[role="columnheader"] {
	text-align: center;
}

th.edit-note {
	color: blue;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
}

.field-rownumber, .field-itemId {
	text-align: center;
}

.field-rownumber {
	width: 40px;
}

.field-itemId {
	width: 80px;
}

.field-itemName {
	width: 150px;
}

.field-itemPrice {
	width: 90px;
	text-align: right;
}
