.dataGrid {
	width: 100%;
	height: 400px; /* override default height: 30em; in dgrid.css */
}

.input-provider {
	width: 160px !important;
}

/* for observable warn,sort consideration */
.field-rownumber {
	width: 40px !important;
}

.field-scan {
	width: 50px ;
}

.field-formId {
	width: 180px ;
}

