#dataGrid {
	position: absolute;
    top: 36px;
    bottom: 0px;
    width: 100%;
    height: auto;
}

.dgrid-column-set-0 {
	width: 380px;
}

.dgrid-cell {
	width: 70px;
}

.field-cfood_n{
	width: 130px;
}

.field-clitcls_n{
	width: 80px;
}
