#dataGrid {
	position: absolute;
	top: 152px;
	bottom: 0px;
	width: 100%;
	height: auto;
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
}

.field-rownumber, .field-itemId, .field-itemDimension,
	.field-expiredTime {
	text-align: center;
}

.field-rownumber {
	width: 40px;
}

.field-itemId {
	width: 80px;
}

.field-itemName {
	width: 150px;
}

.field-itemCategory {
	width: 110px;
}

.field-itemDimension, .field-packagingFactor, .field-packagingUnit {
	width: 60px;
}

.field-itemSpecification {
	width: 90px;
}

.field-packCount {
	width: 70px;
}

.field-itemCount {
	width: 70px;
}

.field-expiredTime {
	width: 90px;
}

.field-none {
	/* 	width: 60px; */
	
}

.grid-number {
	text-align: right;
}