#treeWrapper {
	position: absolute;
	top: 0px;
	bottom: 31px;
	width: 100%;
	height: auto;
}

#menuTree {
	width: 100%;
	height: 100%;
}

#commandArea {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: auto;
}
