.dgrid-cell {
	width: 90px;
}

.dgrid-column-set-0 {
	width: 350px;
}

.field-formId, .field-templateId {
	width: 140px;
}

.field-buyerName ,.field-templateName,.field-formNote{
	width: 120px;
}

.field-maxPayItem {
	width: 180px;
}

.field-scan {
	width: 60px;
}

