#listSelfGrid {
	position: absolute;
	right: 0;
	top: 62px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#dishGrid {
/* 	position: absolute; */
	right: 0;
	top: 0px;
	bottom: 0;
	width: 100%;
	height: 165px; /* override default height: 30em; in dgrid.css */
}


#rawGrid {
/* 	position: absolute; */
	right: 0;
	top: 0px;
	bottom: 0;
	width: 100%;
	height: 165px; /* override default height: 30em; in dgrid.css */
}

.dgrid-cell {
	width: 80px;
}

.dgrid-column-set-0{
	width: 300px;
}

.field-itemDimension,.field-therapyDimension,.field-blank,.field-item_dimension {
	width: 60px;
}

.field-itemSpecification{
	width: 120px;
}

.field-itemName ,.field-therapyName,.field-item_name,.field-reason {
	width: 160px;
}

