.editGrid {
	position: absolute;
	right: 0;
	top: 30px;
	bottom: 30px;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#commandTable {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.scanGrid {
	position: absolute;
	right: 0;
	top: 120px;
	bottom: 0px;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

.auditGrid {
	position: absolute;
	right: 0;
	top: 92px;
	bottom: 61px;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#commandTable {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.scanGrid1 {
	position: absolute;
	right: 0;
	top: 150px;
	bottom: 0px;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

.inCreateGrid {
    position: absolute;
    top: 122px;
    bottom: 25px;
    width: 100%;
    height: auto;
}

#commandTable {
	position: absolute;
	bottom: 0;
	height: auto;
	width: 100%;
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
}

.field-rownumber, .field-itemId, .field-itemDimension,
	.field-expiredTime {
	text-align: center;
}

.field-rownumber {
	width: 40px;
}

.field-itemId {
	width: 80px;
}

.field-itemName {
	width: 150px;
}

.field-itemCategory {
	width: 110px;
}

.field-itemDimension {
	width: 60px;
}

.field-itemSpecification {
	width: 90px;
}

.field-orderCount, .field-receiveCount, .field-differentCount,
	.field-itemUnitPrice, .field-payAmt {
	width: 70px;
}

.field-batch {
	width: 160px;
}

.field-expiredTime {
	width: 90px;
}

.field-none {
	/* 	width: 60px; */
}

.grid-number {
	width: 70px;
	text-align: right;
}