.dgrid-column-set-0 {
	width: 350px;
}

.dgrid-cell {
	width: 80px;
}

.field-operate{
	width: 80px;
}

.field-provider,.field-storage,.field-formId,.field-maxPayItem {
	width: 150px;
}

.field-returnBranch,.field-scan,.field-formRefId,.field-inputDepartment,.field-formNote
	{
	width: 130px;
}