#categoryTree {
	position: absolute;
	left: 0;
	right: 0;
	top: 31px;
	bottom: 30px;
	width: 20%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#dataGrid {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

#commandTable {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	
}

th[role="columnheader"] {
	text-align: center;
}

.field-rownumber, .field-itemId, .field-itemDimension, .field-therapy {
	text-align: center;
	vertical-align: middle;
}

.field-rownumber {
	width: 40px;
}

.field-itemId, .field-itemCategory {
	width: 80px;
}

.field-itemDimension {
	width: 60px;
}

.field-itemUnitPrice ,.field-receivePrice {
	width: 60px;
	text-align: right;
}