#dataGrid {
	position: absolute;
	right: 0;
	top: 120px;
	bottom: 0;
	width: 100%;
	height: auto; /* override default height: 30em; in dgrid.css */
}

th[role="columnheader"] {
	text-align: center;
}

.dgrid-cell {
	/* 	width: 80px; make all the columns 80px wide */
	vertical-align: middle;
	width: 90px;
}

.dgrid-column-set-0 {
	width: 400px;
}

.field-rownumber,.field-formId,.field-formTime,.field-formMaker,.field-receiveTime,.field-formStatus,.field-scan,.field-operate
	{
	text-align: center;
}

.field-rownumber {
	width: 40px;
}

.field-unit {
	width: 60px;
}

.field-itemId {
	width: 70px;
}

.field-formId,.field-storageName {
	width: 150px;
}

.field-operate ,.field-branchName,.field-itemName ,.field-reason{
	width: 120px;
}

.field-operationTime {
	width: 130px;
}

.field-antiauditIn,.field-antiauditOut {
	width: 150px;
}
	
}